@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';


@layer utilities {
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}


.App{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  footer{
    margin-top: 0 auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}